body{
    background-color: #2a4f3e;
    padding: auto;
    font-size: 18px;
    text-align: left;
    min-width: auto;
    color: rgb(255, 255, 255);
}

header{
    text-align: center;
    font-size: 35px;
    background-color: #FFD700;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #FFD700;
}

#info,
#intro {
    width: 70%;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #FFD700;
    border-radius: 10px;
    margin-bottom: 10px;
}


#country {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 300px 300px 200px;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 7px;
    max-width: 100%;
}

#country-flag {
    width: 500px;
    height: 250px;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 0.5px solid black;*/
    grid-column: 1;
    
}

#country-data {
    grid-column: 3;
    font-size: 20px;
    padding: 10px;
}

#country-name {
    grid-column: 2;
}

form {
    padding: 1%;
}

h4 {
    font-size: 25px;
}
button {
    background-color: #FFD700;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 3px 3px 7px;

}

button:hover {
    background-color: #d8b803;
    font-size: 19px;
    font-weight: 600;
    box-shadow: 4px 4px 7px;

}
